.toggle-cb {
  display: none;
}
.toggle-inner {
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toggle-inner::after {
  content: 'No';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.toggle-label {
  display: block;
  margin-left: 20px;
}
.toggle-cb:checked + .toggle-label .toggle-inner::after{
  content: 'Yes';
}
.toggle-cb:not(:checked) + .toggle-label .toggle-inner {
  background-color: #ebebeb;
  color: #bdbdbd;
}
.toggle-inner::before {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  top: -3px;
  left: 70%;
  transition: .5s left;
}
.toggle-cb:not(:checked) + .toggle-label .toggle-inner::before{
  left: -15%;
}
.toggle-cb:not(:checked) + .toggle-label .toggle-inner::after{
  transform: translate(-30%, -50%);
}
