/* Assigns font size to all tags of class .info and Text color to all tags of class .success and .warning and extend style of the class .info */

.info {
  font-size: 12px;
}

.success {
  color: #00FF00;
  @extend .info;
}

.warning {
  color: #FF0000;
  @extend .info;
}
